

.submission-method-dialog,
.submission-method-record,
.submission-method-upload {
	height:100%;
}

.submission-method-dialog .panel-icon i {
	font-size:3.6rem;
}

.submission-method-dialog p {
	@include queryWidth(max, 648px) {
		text-align:center;
	}
}

.record-button {
	position:relative;
	width:200px;
	margin:0 auto;
}

.record-button div {
	width:160px;
	height:100%;
	display:flex;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
}

.record-button i {
	flex:0 0 30px;
	text-align:center;
	line-height:36px;
}

.record-button span {
	flex:1 0 auto;
	text-align:center;
	line-height:36px;
}

.record-button .pause-button-content {
	display:none;
	color:$text2;
	
	i {
		font-size:1.4em;
	}

	.status-recording & {
		display:flex;
	}
}

.record-button .record-button-content {
	color:$red;

	i {
		font-size:1.8em;
	}

	.status-recording & {
		display:none;
	}
}

.submission-method-record nav {
	justify-content:center;

	button {
		&:first-of-type {
			margin-right:25%;
			transform:translateX(50%);
		}
		&:last-of-type {
			margin-left:25%;
			transform:translateX(-50%);
		}
	}
}


.submission-method-dialog nav {
	padding:0;
}

.submission-method-dialog .divider {
	height:80%;
	width:1px;
	background-color:#DFDFDF;
}

.submission-method-dialog button {
	&:first-of-type,
	&:last-of-type {
		margin:0 auto;
	}
}