
.submission-method {
	height:100%;
	display:flex;
	flex-direction:column;
	font-size:0.75rem;
}

.submission-method .form-header {
	text-align:center;
}

.submission-method-dialog {
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:48px;
	height:140px;
}

.submission-method-dialog nav {
	justify-content:center;
}

.submission-method-dialog .divider {
	height:80%;
	width:1px;
	background-color:#DFDFDF;
}

.submission-method-dialog button {
	width:auto;
	&:first-of-type {
		margin-right:25%;
		transform:translateX(50%);
	}
	&:last-of-type {
		margin-left:25%;
		transform:translateX(-50%);
	}
}