

.submission-method-record {
	box-sizing:border-box;
	padding-top:64px;
	// height:100%;
}

.record-button {
	position:relative;
	width:200px;
}

.audio-controls {
	display:flex;
	flex-direction:column;
	align-items:center;
	// height:100%;
	// height:140px;

	.record-button {
		position:relative;
		width:200px;
	}

	.record-button div {
		width:160px;
		height:100%;
		display:flex;
		position:absolute;
		top:0;
		left:0;
		right:0;
		margin:auto;
	}

	.record-button i {
		flex:0 0 30px;
		text-align:center;
		line-height:36px;
	}

	.record-button span {
		flex:1 0 auto;
		text-align:center;
		line-height:36px;
	}

	.record-button .pause-button-content {
		display:none;
		color:$text2;
		
		i {
			font-size:1.4em;
		}
	}

	.record-button .record-button-content {
		color:$red;

		i {
			font-size:1.8em;
		}
	}

	.status-recording & {
		.pause-button-content {
			display:flex;
		}
		.record-button-content {
			display:none;
		}
	}
}



.audio-preview-active .submission-method-record,
.submission-method-record.status-pending {
	.restart-audio-button,
	.save-audio-button {
		opacity:0;
		transition:opacity 0.1s ease-out;
	}
	.preview-audio-button {
		opacity:0.4;
	}
}