

.submission-method-record {
	box-sizing:border-box;
	
	@include queryWidth(min, 769px) {
		padding-top:64px;
	}
	@include queryWidth(max, 768px) {
		padding-top:156px;
	}
}

.audio-controls {
	display:flex;
	flex-direction:column;
	align-items:center;
}

.record-button {
	position:relative;
	width:200px;
}

.record-button div {
	width:160px;
	height:100%;
	display:flex;
	position:absolute;
	top:0;
	left:0;
	right:0;
	margin:auto;
}

.record-button i {
	flex:0 0 30px;
	text-align:center;
	line-height:36px;
}

.record-button span {
	flex:1 0 auto;
	text-align:center;
	line-height:36px;
}

.record-button .pause-button-content {
	display:none;
	color:$text2;
	
	i {
		font-size:1.4em;
	}

	.status-recording & {
		display:flex;
	}
}

.record-button .record-button-content {
	color:$red;

	i {
		font-size:1.8em;
	}

	.status-recording & {
		display:none;
	}
}

.submission-method-record nav {
	justify-content:center;

	button {
		&:first-of-type {
			margin-right:25%;
			transform:translateX(50%);
		}
		&:last-of-type {
			margin-left:25%;
			transform:translateX(-50%);
		}
	}
}