
.submission-method {
	height:100%;
	display:flex;
	flex-direction:column;
	font-size:0.8rem;
}

.submission-method .form-header {
	text-align:center;
}

.submission-method-dialog {
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin-top:48px;
	height:140px;
}

.submission-method-dialog nav {
	padding:0;
}

.submission-method-dialog .divider {
	height:80%;
	width:1px;
	background-color:#DFDFDF;
}

.submission-method-dialog button {
	&:first-of-type,
	&:last-of-type {
		margin:0 auto;
	}
}