@import '../partials/variables';
@import 'partials/users-list';
@import 'partials/content-editor';

.container.admin-container {
	&:after {
		display:none;
	}
}

.content-panel .panel-content {
	padding:0;

	&:before {
		display:none;
	}

	h2 {
		color:$text1;
	}
}

.panel-content .panel-header {
	padding:18px 24px;
	border-bottom:1px solid #EAEAEA;
	background-color:#F9F9F9;
	color:$text2;
	letter-spacing:1px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	border-top-left-radius:$contentPanelBorderRadius;
	border-top-right-radius:$contentPanelBorderRadius;
}

.panel-content .login-form {
	width:280px;
	margin:48px auto;
}

.panel-header > form {
	display:flex;
	flex:0 0 600px;
	align-items:center;
	padding:4px 8px;
	box-sizing:border-box;

	input[type="email"] {
		flex:0 0 180px;
		font-size:0.7rem;
		color:$text2;
		padding:0 8px;
		margin:0 12px;
		box-shadow: inset 0 1px 3px rgba(0,0,0,0.08), inset 0 -1px 2px rgba(0,0,0,0.02), inset 0 1px 2px rgba(0,0,0,0.14);
	}

	& > span {
		margin-left:24px;
	}

	button {
		flex:0 0 auto;
		
		&, span {
			height:28px;
			line-height:28px;
		}
	}

	i {
		color:$text2;
		font-size:1.5rem;
	}
}

.panel-container.dashboard-panel-container {
	@include queryWidth(min, 1024px) {
		width:80%;
		margin:0 auto 64px auto;
	}
	@include queryWidth(max, 1024px) {
		width:95%;
		margin:0 auto 48px auto;
	}
}


.dashboard-panel-container .panel-track {
	flex-direction:column;
	min-height:0;
	height:auto;
	padding:72px 8px 24px 8px;
}

.content-panel.dashboard-panel {	
	padding-bottom:120px;
	@include shadow_1;

	& + .content-panel {
		margin-top:24px;
	}
}

.dashboard-panel .content-form {
	display:flex;
	flex-direction:column;
	box-sizing:border-box;
	padding:12px;

	label {
		font-weight:700;
	}

	input, textarea {
		padding:12px;
		box-sizing:border-box;
		width:100%;
		flex:0 0 auto;
		border:none;
		outline:none;
		background-color:#F0F0F0;
		margin-bottom:18px;
	}

	textarea {
		min-height:160px;
		resize:vertical;
	}

	button {
		width:120px;
		margin:24px auto;
	}
}