@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/normalize';
@import 'partials/inputs';
@import 'partials/async-input-indicators';
@import 'partials/async-pending-indicator';
@import 'partials/mdi';
@import 'partials/buttons';

@import 'panels/base-panel';
@import 'panels/auth';
@import 'panels/info';
@import 'panels/nominees';

@import 'partials/status-indicator';
@import 'partials/wavesurfer';

@import 'submission-method/submission-method-dialog';
@import 'submission-method/submission-method-upload';
@import 'submission-method/submission-method-record';



body {
	font-family:'Roboto','Helvetica','Arial',sans-serif;
	position:relative;
	z-index:1;
	background-color:#F2F2F2;
}

body:before {
	content:'';
	position:absolute;
	display:block;
	top:0;
	left:0;
	right:0;
	height:260px;
	background-color:$dark;
}

.container {
	position:relative;
	z-index:1;
	box-sizing:border-box;
	overflow:visible;
	width:100%;
	border-radius:4px;

	@include queryWidth(min, 649px) {
		&:after {
			content:'';
			position:absolute;
			top:72px;
			z-index:0;
			bottom:0;
			left:0;
			right:0;
			margin:auto;
			width:600px;
			border-radius:$contentPanelBorderRadius;
			@include shadow_1;
		}
	}
}

.break-below-400 {
	display:none;
	@include queryWidth(max, 400px) {
		display:inline;
	}
}
.break-above-400 {
	display:none;
	@include queryWidth(min, 400px) {
		display:inline;
	}
}

.form-header {
	// font-size:0.95rem;
	font-weight:600;
	margin-bottom:0;

	.input-container + & {
		margin-top:32px;
	}

	@include queryWidth(min, 649px) {
		& + .input-container,
		& + p {
			margin-top:32px;
		}
	}
	@include queryWidth(max, 648px) {
		& + .input-container,
		& + p {
			margin-top:18px;
		}
	}
}

.fade-enter-active,
.fade-leave-active {
	transition:opacity 0.2s ease-out;
}
.fade-enter,
.fade-leave-active {
	opacity:0;
}

.scale-enter-active,
.scale-leave-active {
	transition:transform 0.2s $standardCurve;
	transform-origin:50% 50%;
}
.scale-enter,
.scale-leave-active {
	transform:scale(0);
}