$rectButtonHeight:36px;
$roundButtonDiameter:42px;

button {
	display:flex;
	box-sizing:border-box;
	align-items:center;
	justify-content:center;
	cursor:pointer;
	position:relative;
	transition:opacity 0.125s ease-out;
	-webkit-tap-highlight-color:transparent;
	
	&[disabled] {
		cursor:default;
		pointer-events:none;
		opacity:0.4;
	}
}

button span {
	white-space:nowrap;
	margin:0 auto;
}

button.rect {
	background-color:#FFF;
	padding:0 12px;
	color:$accent;
	border-radius:2px;
	min-width:$rectButtonHeight;
	height:$rectButtonHeight;
	@include shadow_1;

	&:hover {
		@include shadow_2;
	}

	&:active {
		@include shadow_1_inset;
	}

	span, i {
		height:$rectButtonHeight;
		line-height:$rectButtonHeight;
		display:block;
	}

	span {
		font-size:0.8rem;
		text-transform:uppercase;
	}
}

button.round {
	width:auto;
	background-color:transparent;
	flex-direction:column;

	i {
		font-size:1.8em;
		color:$accent;
	}

	// add gap to align with other buttons that contain spans
	i:last-child {
		margin-bottom:calc(0.8rem + 8px);
	}

	i:before {
		background-color:#FFF;
		border-radius:#{$roundButtonDiameter / 2};
		@include shadow_2;
		width:$roundButtonDiameter;
		height:$roundButtonDiameter;
		line-height:$roundButtonDiameter;
	}

	&:hover i:before {
		@include shadow_3;
	}

	&:active i:before {
		@include shadow_3_inset;
	}

	span {
		font-size:0.8rem;
		height:1rem;
		line-height:0.8rem;
		text-transform:none;
		color:$text2;
		margin-top:8px;
	}
}