.panel-icon {
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	width:$indicatorDiameter;
	height:$indicatorDiameter;
	border-radius:$indicatorDiameter / 2;
	border:3px solid #FFF;
	z-index:2;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	overflow:hidden;

	@include shadow_3;

	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:column;

	color:#FFF;
	background-color:$accent;

	@include queryWidth(min, 649px) {
		top:-$indicatorDiameter / 2;
	}
	@include queryWidth(max, 648px) {
		top:18px;
	}

	i {
		text-shadow:2px 2px 0px rgba(0,0,0,0.15);
		font-size:4rem;
	}
}

.status-indicator {
	position:absolute;
	top:-1px;
	left:-1px;
	right:-1px;
	bottom:-1px;
	line-height:normal;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:column;
	color:#FFF;
	border-radius:$indicatorDiameter / 2;
}

.status-indicator-enter-active,
.status-indicator-leave-active {
	transition:transform 0.25s $standardCurve, opacity 0.25s ease-out;
}
.status-indicator-enter {
	transform:translateX(100%);
	opacity:0;
}
.status-indicator-leave-active {
	opacity:0;
	transform:translateX(-100%);
}

@keyframes statusPendingPulse {
	0% {
		transform:scale(1);
	}
	15% {
		transform:scale(1.2);
	}
	85% {
		transform:scale(0.85);
	}
	100% {
		transform:scale(1);
	}
}

.status-indicator-pending {
	background-color:$accent;

	i {
		font-size:3.8rem;
		transform-origin:50% 50%;
		animation:statusPendingPulse 1s ease-out infinite;
	}
}
.status-indicator-complete {
	background-color:$green;
}

.status-indicator-error {
	background-color:#EEE;

	i {
		color:$red;
	}
}

@keyframes statusRecordingPulse {
	0% {
		transform:scale(1);
	}
	15% {
		transform:scale(1.05);
	}
	85% {
		transform:scale(0.95);
	}
	100% {
		transform:scale(1);
	}
}

.status-indicator-recording {
	background-color:#DDD;
	justify-content:space-around;
	transition:background-color 0.15s ease-out;

	i {
		position:absolute;
		top:-3px;
		left:0;
		right:0;
		margin:auto;
		text-align:center;
		font-size:3.6rem;
	}

	span {
		font-size:1.3rem;
		position:absolute;
		bottom:8px;
		left:0;
		right:0;
		margin:auto;
		text-align:center;
		height:28px;
		text-shadow:1px 1px 0px rgba(0,0,0,0.15);
	}

	.status-recording & {
		background-color:$red;

		i {
			animation:statusRecordingPulse 1s ease-out infinite;
		}
	}
}