.panel-icon {
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	width:$indicatorDiameter;
	height:$indicatorDiameter;
	border-radius:$indicatorDiameter / 2;
	border:3px solid #FFF;
	z-index:2;
	box-sizing:border-box;
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	overflow:hidden;

	@include shadow_3;

	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:column;


	color:#FFF;
	background-color:$accent;

	&:empty {
		background-image:url('/images/60secondsoapbox.png');
		background-size:auto 74%;
		background-color:#000;
	}

	@include queryWidth(min, 649px) {
		top:-$indicatorDiameter / 2;
	}
	@include queryWidth(max, 648px) {
		top:18px;
	}

	i {
		text-shadow:2px 2px 0px rgba(0,0,0,0.15);
		font-size:4rem;
	}
}

.status-indicator {
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:1;
	line-height:normal;
	display:flex;
	justify-content:space-around;
	align-items:center;
	flex-direction:column;
	color:#FFF;
	border-radius:$indicatorDiameter / 2;
}

.status-indicator-enter-active,
.status-indicator-leave-active {
	transition:transform 0.25s $standardCurve, opacity 0.25s ease-out;
}
.status-indicator-enter {
	transform:translateX(100%);
	opacity:0;
}
.status-indicator-leave-active {
	opacity:0;
	transform:translateX(-100%);
}

@keyframes statusPendingPulse {
	0% {
		transform:scale(1);
	}
	15% {
		transform:scale(1.2);
	}
	85% {
		transform:scale(0.85);
	}
	100% {
		transform:scale(1);
	}
}

.status-indicator-pending {
	background-color:$accent;

	i {
		font-size:3.8rem;
		transform-origin:50% 50%;
		animation:statusPendingPulse 1s ease-out infinite;
	}
}
.status-indicator-complete {
	background-color:$green;
}

.status-indicator-error {
	background-color:$red;

	i {
		color:#FFF;
	}
}

.status-indicator-recording {
	background-color:#D2D2D2;
	justify-content:space-around;
	transition:background-color 0.15s ease-out;

	i, span {
		position:absolute;
		left:0;
		right:0;
		margin:auto;
		text-align:center;
		z-index:2;
	}

	i {
		top:-3px;
		font-size:3.6rem;
	}

	span {
		font-size:1.3rem;
		bottom:8px;
		height:28px;
		text-shadow:1px 1px 0px rgba(0,0,0,0.15);
	}

	.status-recording & {
		background-color:lighten(#D32F2F, 2%);
	}
}

$radialProgressDashArray:314;

.status-indicator-recording .radial-progress {
	position:absolute;
	top:0;
	left:0;
	width:$indicatorDiameter;
	height:$indicatorDiameter;
	z-index:1;
	fill:rgba(255,255,255,0);


	circle {
		transition:stroke 0.15s ease-out, stroke-dashoffset 0.2s ease-out;
		stroke-width:$indicatorDiameter;
		stroke-dasharray:$radialProgressDashArray;
		stroke-dashoffset:$radialProgressDashArray;
		stroke:rgba(255,255,255,0.35);
	}

	.status-recording & circle {
		stroke:#EF5350;
	}
}