

.submission-type-dialog,
.submission-type-record,
.submission-type-upload {
	height:100%;
}


/**
 *  Submission Type Record
 */

.submission-type-record .record-button {
	position:relative;
	width:200px;
	margin:24px auto;
	
	div {
		width:160px;
		height:100%;
		display:flex;
		position:absolute;
		top:0;
		left:0;
		right:0;
		margin:auto;
	}

	i {
		flex:0 0 30px;
		text-align:center;
		line-height:36px;
	}

	span {
		flex:1 0 auto;
		text-align:center;
		line-height:36px;
	}

	.pause-button-content {
		display:none;
		color:$text2;
		
		i {
			font-size:1.4em;
		}
	}

	.record-button-content {
		color:$red;

		i {
			font-size:1.8em;
		}
	}
}

.submission-type-record.status-recording .pause-button-content {
	display:flex;
}
.submission-type-record.status-recording .record-button-content {
	display:none;
}

.submission-type-record nav {
	justify-content:center;

	button {
		&:first-of-type {
			margin-right:25%;
			transform:translateX(50%);
		}
		&:last-of-type {
			margin-left:25%;
			transform:translateX(-50%);
		}
	}
}

/**
 *  Submission Type Upload
 */

.submission-type-upload p.message {
	text-align:center;
	font-size:0.9rem;
	margin:0 auto 32px auto;

	span {
		color:$accent;
	}
	span.error {
		color:$red;
	}
}

.submission-type-upload button {
	margin:0 auto;
}

/**
 *  Submission Type Dialog
 */

.submission-type-dialog .panel-icon i {
	font-size:3.6rem;
}

.submission-type-dialog p {
	@include queryWidth(max, 648px) {
		text-align:center;
	}
}

.submission-type-dialog nav {
	padding:0;
}

.submission-type-dialog .divider {
	height:80%;
	width:1px;
	background-color:#DFDFDF;
}

.submission-type-dialog button {
	&:first-of-type,
	&:last-of-type {
		margin:0 auto;
	}
}