
$darkest:#263238;
$darker:#37474f;
$dark:#455a64;

$light:#eeeeee;
$lighter:#fafafa;

$accent:#00BCD4;
$red:#F44336;
$green:#4caf50;
$text1:#333;
$text2:#757575;
$divider:#BDBDBD;

$standardCurve:cubic-bezier(0.4, 0.0, 0.2, 1);
$enterCurve:cubic-bezier(0.0, 0.0, 0.2, 1);
$leaveCurve:cubic-bezier(0.4, 0.0, 1, 1);
$sharpCurve:cubic-bezier(0.4, 0.0, 0.6, 1);

$panelBG: #F7F7F7;
$audioHeight:280px;