$waveHeight:80px;
$controlsHeight:40px;

.wavesurfer-container {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;

	position:absolute;

	background-image:linear-gradient(to top, #FFF, #F7F7F7);


	border-top:1px solid #F0F0F0;
	box-sizing:border-box;

	top:100%;
	left:0;
	transition:transform 0.3s $standardCurve;

	&.active {
		transform:translateY(-100%);
	}
	&.pending .wavesurfer {
		opacity:0;
	}
}

// .wavesurfer-container .async-pending-indicator {
// 	position:absolute;
// 	height:24px;
// 	top:28px;
// 	transition:opacity 0.3s $standardCurve;
// 	opacity:0;
// }
// .wavesurfer-container.pending .async-pending-indicator {
// 	opacity:1;
// }

.wavesurfer-container .reset-button {
	position:absolute;
	left:32px;
	bottom:44px;
}
.wavesurfer-container .save-button {
	position:absolute;
	right:32px;
	bottom:44px;
}

.wavesurfer-controls {
	display:flex;
	font-size:1.8em;
	width:140px;
	justify-content:space-between;
	box-sizing:border-box;
	padding:18px 0 44px 0;

	i {
		color:$text2;
		font-size:0.6em;
	}

	.skip-back,
	.skip-forward {
		transform:scale(0.75);
	}

	.skip-forward {
		transform-origin:-50% 50%;
	}
	.skip-back {
		transform-origin:150% 50%;
	}
}

.wavesurfer-zoom-controls {
	width:100%;
	display:flex;
	color:#DDD;
	font-size:1.7em;
}

.wavesurfer {
	flex:0 0 $waveHeight;
	width:100%;
	position:relative;
	transition:opacity 0.15s ease-out;
}