
.wavesurfer-container {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	z-index:1;
	box-sizing:border-box;
	height:$navHeight + $waveHeight;
	padding-top:$waveHeight;
	bottom:0;
	left:0;
	background-color:#FFF;
	transition:background-color 0.15s ease-out;

	&.active {
		background-color:#F0F0F0;
	}
	&.active:not(.pending) .wavesurfer {
		opacity:1;
	}
	&.pending .loading-text,
	&.failed .error-text {
		opacity:1;
		transition-duration:0.1s;
		transition-delay:0.5s;
	}
}

.wavesurfer-container button {
	width:70px;

	&:first-of-type {
		margin-right:25%;
		transform:translateX(50%);
	}
	&:last-of-type {
		margin-left:25%;
		transform:translateX(-50%);
	}
}

.wavesurfer {
	flex:0 0 $waveHeight;
	width:100%;
	position:relative;
	top:$waveHeight * -1;
	transition:opacity 0.15s ease-out;
	z-index:2;
	opacity:0;
}

.wavesurfer-container .error-text,
.wavesurfer-container .loading-text {
	width:100%;
	margin:0;
	height:$waveHeight;
	font-size:0.8rem;
	line-height:$waveHeight;
	text-align:center;
	position:absolute;
	top:0;
	left:0;
	color:$text2;
	opacity:0;
	transition:opacity 0.15s ease-out 0s;
}

.wavesurfer-container .error-text {
	z-index:2;
}
.wavesurfer-container .loading-text {
	z-index:1;
}