
.auth-panel .input-container {
	margin-left:auto;
	margin-right:auto;
	margin-top:14px;

	@include queryWidth(min, 649px) {
		width:280px;
	}
	@include queryWidth(max, 648px) {
		width:100%;
	}
}

.auth-panel p {
	color:$text1;
}

.auth-panel .intro {
	text-align:justify;
	margin-bottom:1.2em;
}

.auth-panel .form-header {
	text-align:center;
}

.auth-panel h3 {
	// text-align:center;
	// @include queryWidth(min, 501px) {
	// 	font-size:1.3em;
	// }
	// @include queryWidth(max, 500px) {
	// 	font-size:1.1em;
	// }
}

@include queryWidth(max, 648px) {
	.auth-panel {
		// padding-top:48px;
	}

	.auth-panel p {
		font-size:0.8rem;
	}

	.auth-panel .input-container {
		margin-top:32px;
	}
}
