
.auth-panel .form-input-container {
	@include queryWidth(min, 649px) {
		width:100%;
		display:flex;
		justify-content:space-between;
		align-items:center;
	}
	@include queryWidth(max, 648px) {
		width:100%;
	}	
}

.auth-panel .input-container {
	@include queryWidth(min, 649px) {
		flex:0 0 48%;
	}
	@include queryWidth(max, 648px) {
		width:100%;
		margin:14px auto 0;
	}
}

.auth-panel p {
	color:$text1;
}

.auth-panel form {
	@include queryWidth(min, 649px) {
		padding-top:48px;
	}
	@include queryWidth(max, 648px) {
		padding-bottom:48px;
	}
}

@include queryWidth(max, 648px) {
	.auth-panel .input-container {
		margin-top:32px;
	}
}
