
.panel-container {
	position:relative;
	z-index:1;
	overflow:hidden;
	box-sizing:border-box;

	@include queryWidth(min, 649px) {
		width:600px;
		margin:0 auto;
	}
	@include queryWidth(max, 648px) {
		width:100%;
	}
}

.panel-track {
	display:flex;
	position:relative;
	z-index:1;
	overflow:visible;
	transition:transform 0.375s $standardCurve;

	@include queryWidth(min, 649px) {
		padding-top:72px;
	}
	@include queryWidth(max, 648px) {
		height:100vh;
	}
}

.content-panel {
	flex:0 0 100%;
	box-sizing:border-box;
	font-size:0.8rem;
	line-height:1.8rem;
	color:$text1;
	position:relative;
	display:flex;
	flex-direction:column;

	@include queryWidth(min, 649px) {
		background-color:#FFF;
		border-radius:$contentPanelBorderRadius;
		min-height:500px;
	}
	@include queryWidth(max, 648px) {
		height:100%;
	}
}

.content-panel .panel-content {
	box-sizing:border-box;
	width:100%;
	
	@include queryWidth(min, 649px) {
		padding:80px 24px #{$navHeight + 24px};
		overflow:visible;
	}
	@include queryWidth(max, 648px) {
		background-color:#FFF;
		position:absolute;
		top:0;
		bottom:$navHeight;
		padding:#{$topGapMobile + 76px} 18px 18px;
		overflow:auto;

		// dark gray top background mobile
		&:before {
			content:'';
			position:absolute;
			display:block;
			top:0;
			left:0;
			right:0;
			background-color:$dark;
			height:$topGapMobile;
		}
	}
}

.content-panel nav {
	width:100%;
	border-top:1px solid #EAEAEA;
	height:$navHeight;
	display:flex;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	bottom:0;
	left:0;
	position:absolute;
	background-color:#F9F9F9;
	
	@include queryWidth(min, 649px) {
		border-bottom-left-radius:$contentPanelBorderRadius;
		border-bottom-right-radius:$contentPanelBorderRadius;
	}
}

.content-panel nav button {
	&:only-of-type {
		margin-left:auto;
		margin-right:auto;
	}
}

.content-panel p {
	line-height:1.8em;
	color:$text1;
}
.content-panel a {
	color:$accent;
}
.content-panel h3 {
	font-size:1.1rem;
	line-height:1.4em;
	font-weight:600;
	margin-bottom:1.4em;
	text-align:center;
}