$trackPaddingTop:72px;
$navHeight:36px;

.panel-container {
	position:relative;
	z-index:1;
	overflow:hidden;
	box-sizing:border-box;

	@include queryWidth(min, 649px) {
		width:600px;
		margin:0 auto;
	}
	@include queryWidth(max, 648px) {
		width:100%;
	}
}

.panel-track {
	display:flex;
	position:relative;
	z-index:1;
	overflow:visible;
	transition:transform 0.375s $standardCurve;

	@include queryWidth(min, 649px) {
		padding-top:$trackPaddingTop;
	}
	@include queryWidth(max, 648px) {
		height:100vh;
	}
}

.content-panel {
	flex:0 0 100%;
	box-sizing:border-box;
	font-size:0.8rem;
	line-height:1.8rem;
	color:$text1;
	position:relative;
	background-color:#FFF;
	
	display:flex;
	flex-direction:column;

	@include queryWidth(min, 769px) {
		padding:32px 32px 85px 32px;
	}
	@include queryWidth(max, 768px) {
		padding:24px 24px 85px 24px;
	}

	h3 {
		line-height:1.4em;
		font-weight:600;
		margin-bottom:1.4em;
	}
}

.content-panel p {
	line-height:1.8em;
	color:$text1;
}
.content-panel a {
	color:$accent;
}

.content-panel nav {
	width:100%;
	border-top:1px solid #F0F0F0;
	height:85px;
	display:flex;
	justify-content:center;
	align-items:center;
	box-sizing:border-box;
	position:absolute;
	bottom:0;
	left:0;
	background-color:#F9F9F9;

	@include queryWidth(min, 769px) {
		padding:0 24px;
	}
	@include queryWidth(max, 768px) {
		padding:0 18px;
	}
}

.content-panel nav button {
	&:only-of-type {
		margin-left:auto;
		margin-right:auto;
	}
}