
.users-list {
	width:100%;
	margin:24px auto;
	position:relative;
}

.users-list li {
	background-color:#F9F9F9;
	box-sizing:border-box;
	border-bottom:1px solid #EAEAEA;
	padding:6px 24px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	position:relative;
}

.users-list li > span {
	font-size:0.7rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	display:block;

	&.info {
		flex:0 0 54%;
	}
	&.email {
		flex:0 0 20%;
	}
	&.created-at {
		flex:0 0 20%;
	}
	&.more-info {
		flex:0 0 6%;
	}
}

.users-list li.user-row span {

	&.more-info {

		i {
			margin-left:8px;
			font-size:1.4rem;
			cursor:pointer;
			color:$text2;
		}
	}
}

.users-list li:first-of-type {
	background-color:#FFF;
	align-items:flex-end;

	span {
		line-height:1em;
		height:1em;
	}
}

.users-list li.show-details {
	padding-bottom:120px;
}

.users-list li .user-details {
	font-size:0.7rem;
	height:120px;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	padding:18px 48px;
	box-sizing:border-box;
}

.user-details-children {
	
	span:not(:first-of-type) + span:before {
		content: ', ';
	}
}